{% extends 'base.html.twig' %}
{% block body %}



   

 <div class="col-md-12 col-sm-push-3">

        
        <h1>Bienvenue chez Appartoo</h1>
<h4>Un meilleur matching pour une meilleure colocation</h4>
<img src="{{ asset('bundles/images/appartoo2.png') }}" alt="image"   />
</br>
<ul>
   <a class="btn btn-danger btn-sm " href="{{ path('user_index') }}">Liste D'amis</a>

<a class="btn btn-danger btn-sm" href="{{ path('user_new') }}">Ajouter ami</a>
</ul>




  </div>


<style>
ul{
    text-align:center;
    margin: 60px;
    display: inline;

}
</style>














{% endblock %}